:root {
  --blue-color: #2196f3;
  --black-color: #000000;
  --dark-gray-color: #212121;
  --light-grey-color: #757575;
  --white-color: #ffffff;
  --button-color: #f5f4fa;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--dark-gray-color);
  background-color: var(--white-color);
  width: 1600px;
}

.logo-blue {
  font-family: "Raleway";
  color: var(--blue-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo-blue:hover {
  color: var(--blue-color);
}
.logo-white {
  color: var(--white-color);
}
.logo-black {
  color: var(--black-color);
}

.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--dark-gray-color);
  letter-spacing: 0.02em;
}
.nav-list-contakt {
  color: var(--light-grey-color);
}

.nav-list:hover,
.nav-list:focus {
  color: var(--blue-color);
  fill: var(--blue-color);
}
.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 696px;
  margin: 0 auto;
}
.main-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.main-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  font-family: "Roboto";
  font-style: normal;
}
.main-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--dark-gray-color);
  margin: 0;
  padding-bottom: 10px;
  margin-top: 30px;
}
.main-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-grey-color);
  margin: 0;
  font-style: normal;
}
.list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--dark-gray-color);
  height: 42px;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.caption-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--dark-gray-color);
  margin: 30px auto 10px;
}
.caption-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--light-grey-color);
  margin: 0;
  padding-bottom: 16px;
}
.footer-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-contakt-link {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contakt-link:hover,
.footer-contakt-link:focus {
  color: var(--blue-color);
}
.button2:hover,
.button2:focus {
  background: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white-color);
}
.button2 {
  background: var(--button-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  margin: 0 8px;
}
.button2-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--dark-gray-color);
  font-family: "Roboto";
  font-style: normal;
}

.caption2-main {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-gray-color);
}
.caption2-secondary {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;
  color: var(--light-grey-color);
}
.dark-background-color {
  background-color: #2f303a;
}

.main-background-color {
  background-color: #f5f4fa;
}

.list-style {
  list-style-type: none;
}

.header-box {
  height: 80px;
  display: flex;
  align-items: center;
}

.list-style-first {
  display: flex;
  justify-content: space-between;
  padding-left: 93px;
  margin: 0;
  gap: 46px;
}

.list-style-second {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding: 0;
  gap: 30px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.first-section-container {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.main-button-position {
  display: block;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;
}
.main-list-cards {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.main-list-cards-item {
  width: 270px;
}

.third-secion-container > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.our-team-cards {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.our-team-cards-item {
  width: 270px;
  height: 428px;
  left: 215px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.footer-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-list li:first-child {
  margin-bottom: 9px;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container > address {
  padding-top: 20px;
}
.header-border {
  border-bottom: 1px solid #ececec;
}
.button-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.portfolio-cards-item {
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
  background: #ffffff;

  list-style-type: none;
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-cards-container ul {
  width: 1170px;
  padding: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-cards-container h4 {
  margin: 0;
  padding-left: 24px;
  padding-top: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio-cards-container p {
  margin: 0;
  padding-left: 24px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-cards-container {
  margin-top: 50px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.padding {
  padding-bottom: 0;
  padding-bottom: 0;
}
.icon-header {
  margin-right: 10px;
  fill: var(--light-grey-color);
}

.icon-header:hover,
.icon-header:focus {
  color: var(--blue-color);
}

.icons-header-position {
  display: flex;
  align-items: center;
}
.icons-second-section {
  width: 100%;
}
.icons-second-section-background {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.icon-header:hover,
.icon-header:focus {
  fill: var(--blue-color);
}

.icons-our-team {
  fill: #afb1b8;
}

.icons-our-team :hover,
.icons-our-team :focus {
  fill: #ffffff;
}
.icons-our-team-positon {
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}
.icons-our-team-positon-border {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
.icons-our-team-positon-border:hover,
.icons-our-team-positon-border:focus {
  background-color: var(--blue-color);
}
.icons-our-team-positon-border:hover .icons-our-team,
.icons-our-team-positon-border:focus .icons-our-team {
  fill: #ffffff;
}
