:root {
  --blue-color: #2196f3;
  --black-color: #000000;
  --dark-gray-color: #212121;
  --light-grey-color: #757575;
  --white-color: #ffffff;
  --button-color: #f5f4fa;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--dark-gray-color);
  background-color: var(--white-color);
}

.logo-blue {
  font-family: "Raleway";
  color: var(--blue-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo-blue:hover {
  color: var(--blue-color);
}
.logo-white {
  color: var(--white-color);
}
.logo-black {
  color: var(--black-color);
}

.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--dark-gray-color);
  letter-spacing: 0.02em;
}
.nav-list-contakt {
  color: var(--light-grey-color);
}

.nav-list:hover,
.nav-list:focus {
  color: var(--blue-color);
}
.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.main-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.main-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  font-family: "Roboto";
  font-style: normal;
}
.main-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--dark-gray-color);
}
.main-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-grey-color);
}
.list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-gray-color);
}
.caption-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--dark-gray-color);
}
.caption-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--light-grey-color);
}
.footer-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}
.footer-contakt-link {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contakt-link:hover,
.footer-contakt-link:focus {
  color: var(--blue-color);
}
.button2:hover,
.button2:focus {
  background: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white-color);
}
.button2 {
  background: var(--button-color);
  border-radius: 4px;
  cursor: pointer;
}
.button2-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--dark-gray-color);
  font-family: "Roboto";
  font-style: normal;
}

.caption2-main {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-gray-color);
}
.caption2-secondary {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;
  color: var(--light-grey-color);
}
.dark-background-color {
  background-color: #2f303a;
}
.main-background-color {
  background-color: #f5f4fa;
}
