:root {
  --blue-color: #2196f3;
  --black-color: #000000;
  --dark-gray-color: #212121;
  --light-grey-color: #757575;
  --white-color: #ffffff;
  --button-color: #f5f4fa;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--dark-gray-color);
  background-color: var(--white-color);
}

.logo-blue {
  font-family: "Raleway";
  color: var(--blue-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo-blue:hover {
  color: var(--blue-color);
}
.logo-white {
  color: var(--white-color);
}
.logo-black {
  color: var(--black-color);
}

.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--dark-gray-color);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-contakt {
  color: var(--light-grey-color);
}

.nav-list:hover,
.nav-list:focus {
  color: var(--blue-color);
  fill: var(--blue-color);
}
.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 696px;
  margin: 0 auto;
}
.main-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.main-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  font-family: "Roboto";
  font-style: normal;
}
.main-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--dark-gray-color);
  margin: 0;
  padding-bottom: 10px;
  margin-top: 30px;
}
.main-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-grey-color);
  margin: 0;
  font-style: normal;
}
.list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--dark-gray-color);
  height: 42px;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.caption-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--dark-gray-color);
  margin: 30px auto 10px;
}
.caption-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--light-grey-color);
  margin: 0;
  padding-bottom: 16px;
}
.footer-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-contakt-link {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contakt-link:hover,
.footer-contakt-link:focus {
  color: var(--blue-color);
}
.button2:hover,
.button2:focus {
  background: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white-color);
}
.button2 {
  background-color: var(--button-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  margin: 0 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button2-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--dark-gray-color);
  font-family: "Roboto";
  font-style: normal;
}

.caption2-main {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-gray-color);
}
.caption2-secondary {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;
  color: var(--light-grey-color);
}
.dark-background-color {
  background-color: #2f303a;
}

.main-background-color {
  background-color: #f5f4fa;
}

.list-style {
  list-style-type: none;
}

.header-box {
  height: 80px;
  display: flex;
  align-items: center;
}

.list-style-first {
  display: flex;
  justify-content: space-between;
  padding-left: 93px;
  margin: 0;
  gap: 46px;
}

.list-style-second {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding: 0;
  gap: 30px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.first-section-container {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.main-button-position {
  display: block;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;
}
.main-list-cards {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.main-list-cards-item {
  width: 270px;
}

.third-secion-container > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.our-team-cards {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.our-team-cards-item {
  width: 270px;
  height: 428px;
  left: 215px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.footer-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-list li:first-child {
  margin-bottom: 9px;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container > address {
  padding-top: 20px;
}
.header-border {
  border-bottom: 1px solid #ececec;
}
.button-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.portfolio-cards-item {
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  background: #ffffff;
  list-style-type: none;
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
  transform: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards-container ul {
  width: 1170px;
  padding: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-cards-container h4 {
  margin: 0;
  padding-left: 24px;
  padding-top: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio-cards-container p {
  margin: 0;
  padding-left: 24px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-cards-container {
  margin-top: 50px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.padding {
  padding-bottom: 0;
  padding-bottom: 0;
}
.icon-header {
  margin-right: 10px;
  fill: var(--light-grey-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-header:hover,
.icon-header:focus {
  color: var(--blue-color);
}

.icon-header:hover.icons-header-position {
  display: flex;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-second-section {
  width: 100%;
}
.icons-second-section-background {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.icon-header:hover,
.icon-header:focus {
  fill: var(--blue-color);
}
.icons-header-position {
  fill: #afb1b8;
}
.icons-our-team {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-our-team :hover,
.icons-our-team :focus {
  fill: #ffffff;
}
.icons-our-team-positon {
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}
.icons-our-team-positon-border {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-our-team-positon-border:hover,
.icons-our-team-positon-border:focus {
  background-color: var(--blue-color);
}
.icons-our-team-positon-border:hover .icons-our-team,
.icons-our-team-positon-border:focus .icons-our-team {
  fill: #ffffff;
}
.icons-header-position:hover .icon-header,
.icons-header-position:focus .icon-header {
  fill: var(--blue-color);
}
.our-clients-section {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.our-clients-icons {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-icons:hover,
.our-clients-icons:focus {
  fill: var(--blue-color);
  border: 1px solid var(--blue-color);
}

.join-us-title {
  width: 113px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.icons-join-us {
  fill: #ffffff;
}

.join-us-icons-border {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-section {
  display: flex;
  justify-content: space-between;
  width: 206px;
}

.join-us-section {
  width: 206px;
  height: 80px;
}
.footer-with-social {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.join-us-icons-border:hover,
.join-us-icons-border:focus {
  background-color: var(--blue-color);
}
.join-us-icons-border:hover .icons-join-us,
.join-us-icons-border:focus .icons-join-us {
  fill: #ffffff;
}
.portfolio-cards-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.is-active {
  position: relative;
  color: var(--blue-color);
}
.is-active::after {
  display: block;
  position: absolute;
  border-radius: 2px;
  content: "";
  width: 100%;
  height: 4px;
  top: 45px;
  background-color: var(--blue-color);
}
img {
  display: block;
}
.picture-description {
  width: 100%;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 27px;
  margin-bottom: 27px;
}
.picture-container {
  position: relative;
  width: 370px;
  height: 294px;
}
.picture-description-container {
  position: absolute;
  width: 100%;
  display: block;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  align-items: center;
  margin: 0;
  padding: 0;
  top: 224px;
}
.description-card-container > p {
  border: none;
  padding-bottom: 0;
  padding-left: 0;
  width: 301px;
  height: 196px;
}
.description-card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-right: 45px;
  padding-left: 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.description-card {
  width: 301px;
  height: 196px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.overlay {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
}
.overlay:hover .description-card-container {
  transform: translateY(0);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  fill: #000000;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms ease-in-out;
}

.modal {
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  position: absolute;
  background-color: #ffffff;
  visibility: visible;
  opacity: 1;
  display: block;
  transform: translate(-50%, -50%);
}
.form {
  width: 448px;
  height: 342px;
  margin: 40px auto;
}
.data-form-size {
  width: 448px;
  height: 40px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.data-form {
  margin-bottom: 10px;
}
.data-form-style {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.data-form:hover {
  border: 1px solid #2196f3;
}
.form-group textarea {
  resize: none;
  width: 448px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 12px 16px;
}
.form-group textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-weight: 700;
}
.form-group label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-checkbox {
  margin-top: 10px;
  appearance: none;
}
.form-buttom {
  width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  border-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 30px 124px;
}
.form-buttom > span {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 0;
}
.form-terms-link {
  color: #2196f3;
}
.form-terms-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.form-icons {
  fill: var(--dark-gray-color);
  position: absolute;
  left: 55px;
  margin-top: 14px;
}
label > input {
  position: relative;
  padding-left: 42px;
}
