@import "./components/global";
@import "./utils/variables";
@import "./components/header";
@import "./components/firstSection";
@import "./components/secondSection";
@import "./components/thirdSection";
@import "./components/fourthSection";
@import "./components/fourthSectionIcons";
@import "./components/fifthSection";
@import "./components/footer";
@import "./components/footerIcons";
@import "./components/modal";
@import "./components/form";
@import "./components/buttonsContainer";
@import "./components/cardsContainer";
@import "./components/cardsContainerOverlay";
