.cards-container__overlay-position > p {
  border: none;
  padding-bottom: 0;
  padding-left: 0;
  width: 301px;
  height: 196px;
}
.cards-container__overlay-position {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-right: 45px;
  padding-left: 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-container__overlay-text {
  width: 301px;
  height: 196px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.cards-container__overlay {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
}
.cards-container__overlay:hover .cards-container__overlay-position {
  transform: translateY(0);
}