.cards-container {
  margin-top: 50px;

  &__header {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: getColor("primary");
  }
}
.cards-container__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: getColor("secondary");
}
.cards-container__item {
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  background: getColor("background");
  list-style-type: none;
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
  transform: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.cards-container ul {
  width: 1170px;
  padding: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.cards-container h4 {
  margin: 0;
  padding-left: 24px;
  padding-top: 20px;
  border-left: 1px solid getColor("cards");
  border-right: 1px solid getColor("cards");
}
.cards-container p {
  margin: 0;
  padding-left: 24px;
  padding-bottom: 20px;
  border-left: 1px solid getColor("cards");
  border-right: 1px solid getColor("cards");
  border-bottom: 1px solid getColor("cards");
}
