.fifth-section {
  &__icons {
    width: 100%;
    border: 1px solid getColor("icons");
    border-radius: 4px;
    fill: getColor("icons");
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: getColor("link");
      border: 1px solid getColor("link");
    }
  }
  &__container {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    gap: 30px;
  }
  &__icons-position {
    flex-basis: calc((100% - 30px) / 2);
    list-style-type: none;
  }
}

@media screen and (min-width: 768px) {
  .fifth-section {
    &__icons-position {
      list-style-type: none;
      flex-basis: calc((100% - 60px) / 3);
    }
    &__container {
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      display: flex;
      gap: 30px;
    }
    &__icons {
      width: 100%;
      border: 1px solid getColor("icons");
      border-radius: 4px;
      fill: getColor("icons");
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        fill: getColor("link");
        border: 1px solid getColor("link");
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .fifth-section {
    &__icons {
      border: 1px solid getColor("icons");
      border-radius: 4px;
      fill: getColor("icons");
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        fill: getColor("link");
        border: 1px solid getColor("link");
      }
    }
    &__icons-position {
      list-style-type: none;
      flex-basis: calc((100% - 150px) / 6);
    }
    &__container {
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      display: flex;
      gap: 30px;
    }
  }
}
