.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: getColor("darkBackground");
  &__title {
    height: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor("background");
    margin-bottom: 20px;
  }
  &__column-height {
    height: 80px;

    & input {
      width: 358px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background: getColor("darkBackground");

      &::placeholder {
        padding-left: 16px;
      }
    }
  }
  &__with-social {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__button {
    width: 200px;
    height: 50px;
    background: getColor("link");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: getColor("link");
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    padding-right: 52px;
    letter-spacing: 0.06em;
    color: getColor("background");
    cursor: pointer;
    margin-left: 10px;

    &-icon {
      fill: getColor("background");
      position: absolute;
      margin-left: 24px;
    }
  }
  &__logo {
    font-family: "Raleway";
    color: getColor("link");
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;

    &--white {
      color: getColor("background");
    }
  }
  &__adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: getColor("background");
    margin-top: 20px;
    margin-bottom: 9px;
  }
  &__contact {
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: getColor("link");
    }
    & li:first-child {
      margin-bottom: 9px;
    }
  }
  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  & > address {
    padding-top: 20px;
  }
  &__icon {
    fill: #ffffff;
  }
  &__icon-position {
    display: flex;
    justify-content: space-between;
    width: 206px;
  }
  &__icon-border {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    height: 44px;
    width: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: getColor("link");
    }
    &:hover .footer__icon,
    &:focus .footer__icon {
      fill: getColor("background") f;
    }
  }
}
