.footer__logo {
  font-family: "Raleway";
  color: var(--blue-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.footer__logo--white {
  color: var(--white-color);
}

.footer__title {
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__column-height {
  height: 80px;
}
.footer__with-social {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer__column-height input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}
.footer__button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: #2196f3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding-right: 52px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
}
.footer-input::placeholder {
  padding-left: 16px;
}

.footer__button-icon {
  fill: #ffffff;
  position: absolute;
  margin-left: 24px;
}

.footer__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer__contact {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact:hover,
.footer__contact:focus {
  color: var(--blue-color);
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__contact li:first-child {
  margin-bottom: 9px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer > address {
  padding-top: 20px;
}