@import "../utils/variables.scss";

.header {
  height: 80px;
  display: flex;
  align-items: center;

  &__border {
    border-bottom: 1px solid getColor("border");
  }
}

.header__active {
  position: relative;
  color: getColor("link");

  &::after {
    display: block;
    position: absolute;
    border-radius: 2px;
    content: "";
    width: 100%;
    height: 4px;
    top: 45px;
    background-color: getColor("link");
  }
}

.header__link {
  color: getColor("secondary");
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor("link");
    fill: getColor("link");
  }
}

.header__contact {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding: 0;
  gap: 30px;
  list-style-type: none;
}

.header__logo {
  font-family: "Raleway";
  color: getColor("link");
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;

  &:hover {
    color: getColor("link");
  }

  &--black {
    color: getColor("black");
  }
}

.header__nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 93px;
  margin: 0;
  gap: 46px;
}

.header__center {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: getColor("primary");
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor("link");
    fill: getColor("link");
  }
}

.header__icons {
  margin-right: 10px;
  fill: getColor("secondary");
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: getColor("link");
  }
}

.header__icons-position {
  fill: getColor("icons");

  &:hover .header__icons,
  &:focus .header__icons {
    fill: getColor("link");
  }
}

.header__icons:hover.header__icons-position {
  display: flex;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
