.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 0 48px 40px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: rgb(33, 33, 33);
}

.mobile-menu {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  list-style: none;
}

.list-pages {
  display: inline-flex;
  flex-direction: column;
  gap: 36px;
}
.list-pages__link {
  display: inline;
  color: rgb(33, 33, 33);
  font-size: 36px;
  line-height: 47px;
  color: rgb(33, 33, 33);
}
.list-pages__link:hover,
.list-pages__link:focus {
  color: rgb(33, 150, 243);
}

.list-contacts {
  position: absolute;
  bottom: 134px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.list-contacts__phone {
  font-size: 36px;
  line-height: 40px;
  color: rgb(33, 150, 243);
}
.list-contacts__mail {
  font-size: 26px;
  line-height: 28px;
  color: rgb(117, 117, 117);
}

.list-social {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  bottom: 48px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.list-social__item {
  font-size: 18px;
  line-height: 122%;
  color: rgb(33, 150, 243);
}
.list-social__item--link {
  color: inherit;
}

.list-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(153, 151, 151, 0.75);
}

.active-btn {
  width: 20px;
  height: 20px;
}
.active-btn:hover,
.active-btn:focus {
  fill: rgb(33, 150, 243);
}
