.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms ease-in-out;
}

.modal {
  max-width: 450px;
  min-height: 609px;
  top: 50%;
  left: 50%;

  position: absolute;
  background-color: getColor("background");
  visibility: visible;
  opacity: 1;
  display: block;
  transform: translate(-50%, -50%);

  &__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: getColor("background");
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    fill: getColor("black");
  }
}

@media screen and (min-width: 1200px) {
  .modal {
      min-width: 528px;
    min-height: 581px;
     }
}
