.second-section {
  padding-bottom: 60px;
  padding-top: 60px;

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: getColor("primary");
    margin: 0;
    padding-bottom: 10px;
    margin-top: 30px;
    text-align: center;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: getColor("secondary");
    margin: 0;
    font-style: normal;
  }
  &__cards {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__cards-witdh {
    max-width: 450px;
    margin: 0 auto;
  }
  &__icons {
    width: 100%;
  }
  &__icons-background {
    height: 120px;
    max-width: 450px;
    background: getColor("button");
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .second-section {
    padding-bottom: 45px;

    &__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      align-items: center;
    }
    &__cards-witdh {
      width: 354px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .second-section {
    padding-bottom: 94px;
    &__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      align-items: center;
    }
    &__cards-witdh {
      width: 270px;
    }
  }
}
// .second-section {
//   padding-bottom: 0px
// ;

//   &__title {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     color: getColor("primary");
//     margin: 0;
//     padding-bottom: 10px;
//     margin-top: 30px;
//   }
//   &__text {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: getColor("secondary");
//     margin: 0;
//     font-style: normal;
//   }
//   &__cards {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     display: flex;
//     align-items: space-around;
//   }
//   &__cards-witdh {
//     width: 270px;
//   }
//   &__icons {
//     width: 100%;
//   }
//   &_icons-background {
//     height: 120px;
//     background: getColor("button");
//     border-radius: 4px;
//     display: flex;
//     align-items: center;
//   }
// }
